<h2 class="wsite-content-title" style="text-align:center;"><strong><font size="7" color="#731c9e"><u>​</u>What School Are You Interested In?</font></strong></h2>
<div class="paragraph" style="text-align:left;"><font size="4">Our Owls are current students at the school that you are applying to or are interested in learning more about. They will provide insight on campus life, social life, and academics. &nbsp;Find your school and schedule a private 30 minute Skype session with your Owl for just </font><font size="4"><strong>$34.99.</strong></font></div>
<h1>North East</h1>
{{#each school}}
{{#if NE}}
<div class= "spacingblock">
	<div class = "schoolblock" style = "background-color:{{bcolor}};">
		<div class = "innerspaceblock">
			<div class = "schoolnameblock" style = "color:{{fcolor}};">
				<font size = 5><strong>{{name}}</strong></font>
			</div>
		</div>
		<a class="innerbuttonbox" href="/find-an-owl/school/{{name}}">
			<span class="schoolbutton">BOOK NOW</span>
		</a>
	</div>
</div>
{{/if}}
{{/each}}
<h1>Mid-Atlantic</h1>
{{#each school}}
{{#if MA}}
<div class= "spacingblock">
	<div class = "schoolblock" style = "background-color:{{bcolor}};">
		<div class = "innerspaceblock">
			<div class = "schoolnameblock" style = "color:{{fcolor}};">
				<font size = 5><strong>{{name}}</strong></font>
			</div>
		</div>
		<a class="innerbuttonbox" href="/find-an-owl/school/{{name}}">
			<span class="schoolbutton">BOOK NOW</span>
		</a>
	</div>
</div>
{{/if}}
{{/each}}
<h1>South</h1>
{{#each school}}
{{#if SO}}
<div class= "spacingblock">
	<div class = "schoolblock" style = "background-color:{{bcolor}};">
		<div class = "innerspaceblock">
			<div class = "schoolnameblock" style = "color:{{fcolor}};">
				<font size = 5><strong>{{name}}</strong></font>
			</div>
		</div>
		<a class="innerbuttonbox" href="/find-an-owl/school/{{name}}">
			<span class="schoolbutton">BOOK NOW</span>
		</a>
	</div>
</div>
{{/if}}
{{/each}}
<h1>Midwest</h1>
{{#each school}}
{{#if MW}}
<div class= "spacingblock">
	<div class = "schoolblock" style = "background-color:{{bcolor}};">
		<div class = "innerspaceblock">
			<div class = "schoolnameblock" style = "color:{{fcolor}};">
				<font size = 5><strong>{{name}}</strong></font>
			</div>
		</div>
		<a class="innerbuttonbox" href="/find-an-owl/school/{{name}}">
			<span class="schoolbutton">BOOK NOW</span>
		</a>
	</div>
</div>
{{/if}}
{{/each}}
<h1>West</h1>
{{#each school}}
{{#if WE}}
<div class= "spacingblock">
	<div class = "schoolblock" style = "background-color:{{bcolor}};">
		<div class = "innerspaceblock">
			<div class = "schoolnameblock" style = "color:{{fcolor}};">
				<font size = 5><strong>{{name}}</strong></font>
			</div>
		</div>
		<a class="innerbuttonbox" href="/find-an-owl/school/{{name}}">
			<span class="schoolbutton">BOOK NOW</span>
		</a>
	</div>
</div>
{{/if}}
{{/each}}


{{school}}

